<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatKitAndroid">
        <activity
            android:name=".activity.onboarding.OnboardingActivity"
            android:exported="true"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/Theme.ChatKitAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home_activity.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ChatKitAndroid" />
        <activity
            android:name=".activity.server_activity.ServerActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/title_activity_server"
            android:resizeableActivity="true"
            android:theme="@style/Theme.ChatKitAndroid">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="chat" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.server_share_activity.ServerShareActivity"
            android:exported="false"
            android:label="@string/title_activity_server_share"
            android:theme="@style/Theme.ChatKitAndroid" />

        <service
            android:name=".service.ServerConnectionService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>